beautifulsoup4
brotlipy==0.7.0
certifi==2020.6.20
cffi==1.14.0
click==7.1.2
cryptography==2.9.2
cycler==0.10.0
Flask==1.1.2
Flask-Dropzone==1.5.4
idna
itsdangerous==1.1.0
Jinja2==2.11.2
kiwisolver==1.2.0
MarkupSafe==1.1.1
matplotlib
mecab-python3==1.0.1
numpy
olefile==0.46
Pillow
pycparser
PyMySQL==0.9.3
pyocr==0.5
pyOpenSSL==19.1.0
pyparsing==2.4.7
PyQt5==5.12.3
PyQt5-sip==4.19.18
PyQtChart==5.12
PyQtWebEngine==5.12.1
PySocks==1.7.1
python-dateutil==2.8.1
six
soupsieve
tornado==6.0.4
urllib3==1.25.9
Werkzeug==1.0.1
win-inet-pton==1.1.0
wincertstore==0.2
