beautifulsoup4 @ file:///D:/bld/beautifulsoup4_1589761059039/work
brotlipy==0.7.0
certifi==2020.6.20
cffi==1.14.0
click==7.1.2
cryptography==2.9.2
cycler==0.10.0
Flask==1.1.2
Flask-Dropzone==1.5.4
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1593328102638/work
itsdangerous==1.1.0
Jinja2==2.11.2
kiwisolver==1.2.0
MarkupSafe==1.1.1
matplotlib @ file:///D:/bld/matplotlib-base_1594091905736/work
mecab-python3==1.0.1
numpy @ file:///D:/bld/numpy_1591485481352/work
olefile==0.46
Pillow @ file:///D:/bld/pillow_1594213067156/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1593275161868/work
PyMySQL==0.9.3
pyocr==0.5
pyOpenSSL==19.1.0
pyparsing==2.4.7
PyQt5==5.12.3
PyQt5-sip==4.19.18
PyQtChart==5.12
PyQtWebEngine==5.12.1
PySocks==1.7.1
python-dateutil==2.8.1
six @ file:///home/conda/feedstock_root/build_artifacts/six_1590081179328/work
soupsieve @ file:///D:/bld/soupsieve_1589778617454/work
tornado==6.0.4
urllib3==1.25.9
Werkzeug==1.0.1
win-inet-pton==1.1.0
wincertstore==0.2
