@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');


html {
    font-family: 'Noto Sans JP', sans-serif;
}

ul {
    list-style: none;
}

li {
    color: #da1717;
}

.name {
    color: black;
}

.pass {
    color: black;
}

h1 {
    font-size: 300%;
    font-family: 'Ubuntu Mono', monospace;
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(transparent 70%, #fdcaf2 70%);
}

body {
    background-image: url(../static/background1.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    color: #3a3a3a;
    margin: 0;
}

.bg-mask {
    height: 100%;
    width: auto;
    background: rgba(255,255,255,0.8);
}

p {
    position: relative;
    display: inline-block;
    padding: 0 55px;
}

p:before, p:after {
    content: '';
    position: absolute;
    top: 50%;
    display: inline-block;
    width: 45px;
    height: 2px;
    border-top: solid 1px black;
    border-bottom: solid 1px black;
}

p:before {
    left:0;
}

p:after {
    right: 0;
}

button.button1 {
    font-size: 0.7em;
    font-weight: bolder;
    padding: 5px 15px;
}

button.button2 {
    font-size: 0.7em;
    font-weight: bolder;
    padding: 5px 15px;
}