<!DOCTYPE html>
<html>
    <html lang = 'ja'>

    <head>
        <meta charset = "UTF-8">
        <title>create_user</title>
        <link rel = "stylesheet" href = "index.css">
    </head>

    <body>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul class=flashes>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        
        <h1>
            <center>CookME♪</center>
        </h1>

        <form action = "{{url_for('user.createUser')}}" method = "POST">
            <center>
                <!-- ようこそ、CookMeへ<br><br> -->

                <ul>
                    <li class = "name">
                        <label for = "name">ID</label>
                        <input type = "UserID" name = "UserID", placeholder = "ユーザID">
                    </li>
                    <li>
                        <label for = "pass">PASS</label>
                        <input type = "password" name = "password", placeholder = "英字数字を含む8~16字">
                    </li>
                </ul>

                <br>
                <button type = "submit", onclick = "location.href = 'login.html'">登録</button>

            </center>
        </form>

    </body>

</html>