<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>CookME</title>
    <link rel = "stylesheet" href = "../static/Favorite.css">
</head>
<body>
<div class="bg-mask">
    <center>
    <h1>
        <center>CookME</center>
    </h1>
        {% if userID %}
            <form action="{{ url_for('cookme.RecipeDisplay', userID=userID) }}" method="POST">
                <button class="button" type="button" onclick="history.back()">戻る</button><br>
                <p>検索された条件のレシピ一覧です</p><br>
                {% if recipeTitles == [] %}
                    <p>該当レシピなし</p><br>
                {% else %}
                    {% for recipeTitle in recipeTitles %} 
                        <p1>
                            <input type="submit" name="recipeTitle" value="{{ recipeTitle }}">
                            <button class="button" type="submit" name="submit_button" value="{{ recipeTitle }}">削除</button>
                        </p1>
                    {% endfor %}
                {% endif %}
            </form>
        {% endif %}
    <br><br>
    </center>
</div>
</body>
</html>