<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>recipe</title>
</head>
<body>
    <center>
        {% if userID %}
            <form action="{{ url_for('cookme.RecipeDisplay', userID=userID) }}" method="POST">
                <button type="button" onclick="history.back()">戻る</button>
                <p>検索された条件のレシピ一覧です</p>
                {% if historyTitles == [] %}
                    <p>該当レシピなし</p>
                {% else %}
                    {% for historyTitle in historyTitles %} 
                        <p>
                            <input type="submit" name="recipeTitle" value="{{ historyTitle }}">
                        </p>
                    {% endfor %}
                {% endif %}
            </form>
        {% endif %}
    </center>
</body>
</html>