<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>cook search</title>
</head>
<body>
    {% if userID %}
        <h1>Cook me!</h1>
        <p>ようこそ，{{ userID }}さん!</p>
        <form action="{{ url_for('cookme.Favorite', userID=userID) }}" method="POST">
            <button type="submit" name="userID" value="{{ userID }}">お気に入りのレシピ一覧</button>
        </form>

        <form action="{{ url_for('cookme.History', userID=userID) }}" method="POST">
            <button type="submit" name="userID" value="{{ userID }}">履歴</button>
        </form>

        <form action="{{ url_for('cookme.SearchResult', userID=userID) }}" method="POST">
            <div>
                <p>材料名と調理時間を入力してください</p>
                <input type="text" name="name1" placeholder="材料名">
            </div>
            <div>
                <input type="text" name="name2" placeholder="調理時間">
            </div>
            <button type="submit" name="userID" value="{{ userID }}">検索</button>
            <button type="button" onclick="history.back()">ログアウト</button>
        </form>
    {% endif %}
</body>
</html>
