<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <title>CookME</title>
  <link rel="stylesheet" href="..\static\index.css">
  <!--
  <script src="dropzone.js"></script>
  <script src="jquery-3.5.1.min.js"></script>
  <link rel="stylesheet" href="dropzone.css">
  <link rel="stylesheet" href="basic.css">
  {{ dropzone.load_css() }}
  {{ dropzone.style('border: 2px dashed #0087F7; margin: 10%; min-height: 400px') }}
  -->
</head>

<body>
  <center>
    <div class="bg-mask">
      <h1>
        <center>CookME</center>
      </h1>
      {{ dropzone.create(action='img.upload') }}
      {{ dropzone.load_js() }}
      {{ dropzone.config() }}
      <form action="{{ url_for('img.upload') }}" method="POST" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit" value="submit">
      </form>
      <br>
    </div>
  </center>
</body>

</html>