<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Cook me!</title>
</head>
<body>
    <h1>Cook me!へようこそ</h1>
    <form action="{{ url_for('main_frame') }}" method="POST">
        <div>
            <p>ユーザIDとパスワードを入力してください</p>
            <input type="text" name='name' placeholder="ユーザーID">
        </div>
        <div>
            <input type="password" name='pass' placeholder="パスワード">
        </div>
        <button type="submit">ログイン</button>
    </form>
    <form action="{{ url_for('createUser') }}" method="POST">
        <button type="submit">新規登録</button>
    </form>
</body>
</html>

<!-- url_for(メソッド名):引数であるメソッド名を呼び出す-->