<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>cook search</title>
</head>
<body>
    <h1>Cook me!</h1>
    <p>ようこそ，{{ name }}さん!</p>
    <form action="{{ url_for('favorite') }}" method="POST">
        <button type="submit">お気に入りのレシピ一覧</button>
    </form>

    <form action="{{ url_for('history') }}" method="POST">
        <button type="submit">履歴</button>
    </form>

    <form action="{{ url_for('frame1') }}" method="POST">
        <div>
            <p>材料名と調理時間を入力してください</p>
            <input type="text" name="name1" placeholder="材料名">
        </div>
        <div>
            <input type="text" name="name2" placeholder="調理時間">
        </div>
        <button type="submit">検索</button>
    </form>
</body>
</html>
