<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>recipe</title>
</head>
<body>
    {% if userID %}
        <form action="{{ url_for('cookme.FavoriteRegistration', userID=userID) }}"  method="POST">
            <h1 class="recipeTitle">{{ recipeTitle }}の作り方</h1>
            <h2>材料</h2>
            <p>{{ OrderThing }}</p>

            {% if recipeTime != -1 %}
                <p>調理時間: {{ recipeTime }} 分</p>
            {% endif %}
            
            <h2>作り方</h2>
            <p>{{ recipeToCook }}</p>
            <button type="submit" name="recipeTitle" value="{{ recipeTitle }}">お気に入り登録</button>
            <button type="button" onclick="history.back()">戻る</button>
        </form>
    {% endif %}
</body>
</html>